.full_container{
	min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */
display: flex;
    align-items: center;
}

.login_form{
	width: 35%;
    margin-left: auto;
    margin-right: auto;
    background: linear-gradient(#00BCD4,#ffffff);
    }


.green-color{
	color:#82c91e;
}
.white-color{
	color:#ffffff;
}

.gray-progress-bg{
	background-color: #eceeef;
}


.border-gray{
    border: 1px solid #03A9F4 !important;	
        border-radius: 2%;
}


.bg-image-login{
	background-image: url('https://images.pexels.com/photos/139321/pexels-photo-139321.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb');
	    background-repeat: no-repeat;
	        background-size: 100% 100%;
	    
	
}

.bg-trans{
	background: transparent !important;
}

.login-submit{
    margin-left: auto;
    margin-right: auto;
    display:flex;
    border-radius: 50%;
    max-width: 20%;
    justify-content: center;
}
.logo-image{
	    max-height: 150px;
    max-width: 150px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
        background-color: transparent;
}